*{
    box-sizing: border-box;
    outline: 1px solid lightgreen !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
  .header{
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-menu{
   display: flex;
   margin-right: 30px;
   list-style: none; 
   width: max-content;
  }
  .nav-menu li{
    margin: 0 16px;
  }
  .search-input{
    border-radius:30px ;
    background-color: rgb(243, 243, 243);
    border: none;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    width: 100%;
    padding: 14px 46px;
  }
  .nav-menu-right{
    display: flex;
    margin-right: 30px;
    list-style: none;
  }
  .nav-menu-right li{
    margin: 0 16px;
  }
  .logo{
    padding: 0 10px;
  }
 
  

  body{
    padding: 30px 0px 0px;
  }
  img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    border-radius: 10%;
  }
  .gallery{
   margin: 40px; 
   columns: 5 210px;
   column-gap: 0.5em;
  }