body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(186, 243, 174);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    font-size: 19px;
    padding: 15px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

blockquote{
 background-color: rgb(235, 233, 134);
 font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    border: 1px solid white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th,td{
    background-color: rgb(161, 160, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: rgb(186, 243, 174);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}